*,
*::before,
*::after {
    box-sizing: border-box;
}
.container{
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  border: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}




